.displayArtist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #424242;
  color: #df4545;
  margin: 40px 30px;
}

.artistList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.artist {
  border: 1px solid brown;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  background-color: white;
  opacity: 0.8;
  color: FF0000;
}

.artistDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  width: 160px;
  line-height: 12px;
  font-size: 12px;
  padding: 5px;
}
